/* css for the logo text*/
#logo{
  width: 50px;
}

/* css for the thumbnail text*/
.BackgroundText{
  font-size: 42px;
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-family: "Lucida Console";
}

/* css for the background text, hightlights it in yellow*/
mark{
  background-color: yellow;
  color: black;
}

/* css for: "how the program works" */
.text{
  font-size: 30px;
  color: black;
  font-family: Monaco;
  margin-bottom: 10px;
}

/* css for the github link*/
.link{
  margin-top: 10px;
  font-size: 30px;
  font-family: Monaco;
  padding-bottom: 30px;
}

/* css for the whole home page, except for the navbar */
.content{
  background-image: url('Photos/Thumbnail.png');
  background-attachment: fixed;
  background-size: cover;
  padding-left: 30px;
  padding-right: 3px;
}

/*css for the whole about page, except for the navbar */
.about{
  padding-top: 30px;
  background-color: lightgreen;
}

/* css for the image of william for the about page */
#william{
float: left;
width: 200px;
padding-top: 20px;
margin-left: 30px;
margin-right: 20px;
}

/* css for the image of tianyi for the about page */
#tianyi{
float: right;
width: 200px;
padding-top: 20px;
margin-left: 20px;
margin-right: 30px;
}

/* css for the image of eric for the about page */
#eric{
float: left;
width: 200px;
padding-top: 20px;
margin-left: 30px;
margin-right: 20px;
}

/* css for names on the about page at the left */
.name{
font-size: 70px;
font-family: monospace;
margin-left: 30px;
}

/* css for the description on the about page at the left */
.description{
font-size: 30px;
font-family: inherit;
margin-left: 30px;
padding-bottom: 40px;
}

/* css for names on the about page at the right */
.nameleft{
font-size: 70px;
font-family: monospace;
margin-left: 30px;
text-align: right;
}

/* css for the description on the about page at the right */
.descriptionleft{
font-size: 30px;
font-family: inherit;
margin-left: 30px;
padding-bottom: 40px;
text-align: right;
}
